html{
    transform: scale(0.8);
    transform-origin: top left;
    width: 125%; /* Компенсируем уменьшение масштаба */
    height: 125%;
    font-family: Inter;
    background-color: #161618;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-padding-top: 144px; /* Современный способ */
}
body{
font-weight: 300; 
overflow-x: hidden;
-ms-overflow-style: none;
scrollbar-width: none;

}
button{
    cursor: pointer;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    font-family: Inter;
    border-radius: 30px;
    backdrop-filter: blur(30);
}
a{
    text-decoration: none;
    color: white;
}
.title{
    font-size: 150px;
    text-align: center;
    color: white;
}
.container{
    align-items: center;
    display:flex ;
    padding: 30px;
}
.contact-section{
    border-radius: 30px;
    width: 400px;
    height: 300px;
    background-color: #ffffff;
    padding: 30px;
    margin: 35px;
}
.greenBox{
    width: 295px;
    height: 338px;
    background-color: rgba(190, 255, 111, 0.7) ;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
}
