.footer {
    min-height: 264px;
    min-width: 1389px;
    padding-left: 73px;
    padding-right: 73px;
    align-items: center;

    
}

.footer_container {
    height: 100%;
    padding-top: 29px;
    
    align-items: center;
    
    border-top: 1.5px solid white;

}
.footer-elements{
    list-style: none;
    justify-content: center;
    display: flex;
    gap: 100px;
    color: white;
}

#logo_footer{
    align-items: center;
    justify-content: center;
    

}
.footer_text{
    font-size: 30px;
    font-weight: 400;
}


.footer-digital_marketing{
    margin-left: 30px;
    font-size: 35px;
    font-weight: 700;
    margin-right: 78px;
}

.footer-elements li{
    text-align: center;
}
.footer-home,
.footer-how_it_works,
.footer-contacts
{
    display: block;
    margin-bottom: 34px;
}

