
.header{
    
    min-height: 144px;
    min-width: 1389px;
    background-color: white;
    font-family: Inter;
    font-weight: 700;
    font-size: 25px;
    color: #555555;
    margin-bottom: 118px ;
    
}


.header_container{
    padding-top: 32px ;
    padding-left: 73px;
    padding-right: 73px;
    display: flex; 
    align-items: center;
    flex-direction: row; 
    justify-content: space-between; 
}
#logo{
    
    margin-right: 70px;
}
.header-hrefs{
    display: flex;
    white-space: nowrap; /* Запрещает перенос текста */
    gap: 108px ;  
}
.header-hrefs a{
    color: #555555;
}
.header-button_join{
    background-image: url("data:image/svg+xml,%3Csvg width='267' height='79' viewBox='0 0 267 79' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_181_343)'%3E%3Crect width='259' height='71' rx='30' fill='%23BEFF6F'/%3E%3Crect x='1' y='1' width='257' height='69' rx='29' stroke='%23377DFF' stroke-width='2'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_181_343' x='0' y='0' width='267' height='79' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='4' dy='4'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_181_343'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_181_343' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
    width: 267px;
    height: 71px;    
    background-color: transparent;
    font-weight: 700;
    font-size: 25px;
    color: black;
}